body #root {
  box-sizing: border-box;
  margin: 0px;
  background-color: #f3f4f6;
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
 

@media screen and (max-width: 1024px)  {
  .hide-in-mobile{
    display: none;
  }
 
}

@media screen and (max-width: 750px)  {
  .hide-name{
    display: none;
  }
 
}