body #root {
  box-sizing: border-box;
  margin: 0px;
  background-color: #f3f4f6;
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar on a specific container */
.hide-scrollbar {
  overflow: auto;  /* Allow scrolling */
}

/* Hide scrollbar for all browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

 

@media screen and (max-width: 1024px)  {
  .hide-in-mobile{
    display: none;
  }
 
}

@media screen and (max-width: 750px)  {
  .hide-name{
    display: none;
  }
 
}